.checker {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    background-color:rgb(34, 0, 255);
    transition-duration: .2s;
}

.checker-black {
    background-color: rgb(153, 64, 9);
}

.checker-white {
    background-color: rgb(255, 255, 255);
}

.checker-active {
    background-color: rgb(255, 42, 0);
    width: 60px;
    height: 60px;
}